.publications {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.publication a {
    font-weight: 600;
    /* font-size: large; */
}

.publication div {
    margin-top: 4px;
    font-size: small;
}

.publication .publication-venue {
    font-style: italic;
    color: #999;
    font-size: small;
}

.publication .publication-venue .publication-date {
    font-style: normal;
}
